body {
  font-family: sans-serif;
  background-color: rgb(255, 227, 191);
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.search-container {
  float: none;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: none;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
